[submodule "src/deps/zig-gamedev"]
	path = src/deps/zig-gamedev
	url = https://github.com/michal-z/zig-gamedev.git
[submodule "src/deps/zig-flecs"]
	path = src/deps/zig-flecs
	url = https://github.com/foxnne/zig-flecs.git
